body {
	background-color: grey; /*dark mode for night dev sessions*/
}

svg {
	background-color: lightgrey;
	border-color: black;
	border-style: solid;
	cursor: move;
}

g, text {
	cursor: pointer;
}

text:hover{
	text-decoration: underline;
}

/*for nodes*/
.hover circle {
	fill: white;
}

/*for edges*/
.hoverEdge {
	cursor: pointer;
	fill:yellow;
	stroke: yellow;
}
.selectedEdge {
	cursor: pointer;
	fill: blue;
	stroke: blue;
}

#hidden-file-upload {
	display: none;
}

#statusSelect {
	display: none;
}

label {
	font-weight: normal;
}

a, li {
	cursor: pointer;
}

.table-hover > tbody > tr:hover {
  background-color: #ebebeb;
}
