body {
	background-color: grey; /*dark mode for night dev sessions*/
}

svg {
	background-color: lightgrey;
	border-color: black;
	border-style: solid;
	cursor: move;
}

g, text {
	cursor: pointer;
}

text:hover{
	text-decoration: underline;
}

.hover circle {
	fill: white;
}